.board {
  width: 640px;
  height: 640px;
  display: flex;
  flex-flow: wrap-reverse;
  border: 4px solid black;
}

.d-block {
  display: block;

}

.cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
background-color: white;
}

.black {
  background-color: rgb(96, 117, 39);
}

.d-block {
  display: block;
}
