<form *ngIf="user$ | async as user"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="pt-2">
  <p *ngIf="!user.profileIsFull"
     class="text-danger">
    You have empty fields! Please fill out your profile.
  </p>
  <div [formGroupName]="userFormControlNameEnum.name">
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput
             [errorStateMatcher]="errorMatcher"
             type="text"
             placeholder="Andrew"
             [formControlName]="userFormControlNameEnum.firstName" />
    </mat-form-field>
    <mat-form-field class="example-full-width mx-3"
                    appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput
             type="text"
             placeholder="Voronov"
             [formControlName]="userFormControlNameEnum.lastName" />
    </mat-form-field>
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>UserName</mat-label>
      <input matInput
             type="text"
             placeholder="userName"
             [formControlName]="userFormControlNameEnum.userName" />
    </mat-form-field>
  </div>
  <div [formGroupName]="userFormControlNameEnum.address">
    <mat-form-field appearance="fill">
      <mat-label>Choose country</mat-label>
      <mat-select [formControlName]="userFormControlNameEnum.country">
        <mat-option *ngFor="let country of countries"
                    [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mx-3"
                    appearance="fill">
      <mat-label>Choose city</mat-label>
      <mat-select [formControlName]="userFormControlNameEnum.city">
        <mat-option *ngFor="let city of cities$ | async"
                    [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter postal code</mat-label>
      <input matInput
             placeholder="Postal Code"
             type="number"
             [formControlName]="userFormControlNameEnum.postalCode" />
      <mat-error *ngIf="
      postalCodeControl.errors
        ">
        Please enter a valid Postal code
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput
             type="email"
             placeholder="placeholder@email.com"
             [formControlName]="userFormControlNameEnum.email" />
    </mat-form-field>
    <mat-form-field class="example-full-width mx-3"
                    appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput
             type="number"
             placeholder="Phone Number"
             [formControlName]="userFormControlNameEnum.number" />
    </mat-form-field>

  </div>
  <mat-form-field appearance="fill">
    <mat-label>Choose your game level</mat-label>
    <mat-select [formControlName]="userFormControlNameEnum.gameLevel">
      <mat-option *ngFor="let level of gameLevels"
                  [value]="level">
        {{ level }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill"
                  class="mx-3">
    <mat-label>Choose your birth date</mat-label>
    <input matInput
           [matDatepicker]="picker"
           [formControlName]="userFormControlNameEnum.birthDate" />
    <mat-datepicker-toggle matSuffix
                           [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="birthDateControl.errors">
      You are not real!
    </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput
             type="password"
             placeholder="*******"
             [formControlName]="userFormControlNameEnum.password" />
      <mat-error *ngIf="passwordControl.errors">
        Min 1 uppercase letter. Min 1 lowercase letter. Min 1 special character.
        Min 1 number. Min 8 characters.
      </mat-error>
    </mat-form-field>
  </div>
  <div style="text-align: end;">
    <button mat-raised-button
            type="submit"
            [disabled]="!form.valid"
            color="primary">
      Update
    </button>
  </div>
</form>