<form [formGroup]="logInForm"
      (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your username</mat-label>
      <input matInput
             placeholder="Andrey"
             formControlName="userName" />
      <mat-hint>your username or nickname</mat-hint>
    </mat-form-field>
  </div>
  <div class="pb-5">
    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input matInput
             placeholder="*****"
             type="password"
             formControlName="password" />
    </mat-form-field>
    <div class="position-absolute">
      <small *ngIf="userRecognizingError$ | async">You need to Sign Up first or try<br />
        another password or username.</small>
    </div>
  </div>
  <div class="pt-1 d-flex justify-content-between">
    <button mat-raised-button
            type="submit"
            [disabled]="!logInForm.valid"
            color="primary">
      Log In
    </button>
    <a mat-raised-button
       color="accent"
       (click)="closeDialog()"
       [routerLink]="[routePath.signUp]">Sign Up</a>
  </div>
</form>