/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("woff2");
}

// Bootstrap variables overidding
$font-family-base: "Sans Pro";
//

// Third Party imports
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//

body {
  background-color: #79dfc1;
  padding: 30px;
}

.mat-vertical-content {
  padding: 15px !important;
}
