/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sans Pro LIght";
  src: url("/assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Sans Pro Bold";
  src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
}

// Bootstrap variables overidding
$font-family-base: "Sans Pro";
//

// Third Party imports
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//

body {
  background-color: #79dfc1;
  padding: 30px;
}

.mat-vertical-content {
  padding: 15px !important;
}

.success-notification .mat-button {
  color: rgb(24, 243, 108);
}

.mat-card {
  background: transparent;
}
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: transparent;
}

.mat-tab-label-active {
  opacity: 1 !important;
}
